.c-Button {

  &:hover {
    text-decoration: none;
  }
}

.c-Button--primary {
  font-size: 1.25rem;
  font-weight: 500;
  color: $color-white;
  border-radius: 1.5rem;
  padding: 1rem 2rem;
  background: linear-gradient(45deg, #a73cff 0%,#767cff 64%,#3bbffe 100%);
  transition: $global-transition $global-transition--button;

  &:hover, &:active {
    transform: translate(0, -2px);
    box-shadow: 0 4px 7px rgba(0,0,0,0.17);
  }
}

.c-Button--margin-right {
  margin-right: 0.25rem;
}

@media screen and (min-width: 768px) {
  .c-Button--primary {
    padding: 1rem 3rem;
  }

  .c-Button--margin-right {
    margin-right: 1rem;
  }

}