.c-Button {}

.c-Button--primary {
  font-size: 1.25rem;
  font-weight: 500;
  color: $color-white;
  border-radius: 1.5rem;
  box-shadow: 0 4px 5px rgba(0,0,0,0.15);
  padding: 0.75rem 3rem;
  background: linear-gradient(45deg, #a73cff 0%,#767cff 64%,#3bbffe 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.c-Button--margin-right {
  margin-right: 1rem;
}