a {
  color: $color-links;
  font-weight: 400;
  text-decoration: none;

  &:focus, &:hover {
    text-decoration: underline;
  }
}

.c-Link {
  padding: 0.5rem;
  display: inline-flex;
  align-self: center;
  border-radius: 0.3rem;
  transition: $global-transition--button ease all;
  background-color: $color-white;

  &:focus, &:hover, &:active {
    background-color: $color-links--background;
    text-decoration: none;
  }
}

.c-Link--highlight {
  padding: 0.75rem 1.25rem;
  font-size: 1.25rem;
}

.c-Logo {
  font-size: 1.5rem;
  font-weight: 600;
  color: $color-brand-primary-headline;
  transition: 1s ease color;

  &:hover {
    text-decoration: none;
    color: $color-brand-primary-headline;
  }
}