.o-Hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95vh;
  width: 100vw;

  & > * {
    width: 80vw;
  }
}

.o-Hero__menu {
  display: flex;
  align-content: center;
  flex-flow: wrap;
  margin-top: 1rem;
}


@media screen and (min-width: 1024px) {
  .o-Hero {
    & > * {
      width: 60vw;
    }
  }
}