.o-Hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding-top: 100px;

  & > * {
    width: 80vw;
    animation: display 1.5s 1;
  }
}

.o-Hero__menu {
  display: flex;
  align-content: center;
  flex-flow: wrap;
  margin-top: 1rem;
}


@media screen and (min-width: 1024px) {
  .o-Hero {
    padding-top: 0;
    height: 100vh;

    & > * {
      width: 65vw;
    }
  }
}

@media screen and (min-width: 1440px) {
  .o-Hero {
    & > * {
      padding-right: 15vw;
    }
  }
}

@keyframes display {
  0% {
    opacity: 0;
    transform: translate(0, 40px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}